.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    margin-top: 100px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    animation: slideIn 0.5s;
}

@keyframes slideIn {
    from { transform: translateY(-30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}


.close {
    color: #aaa; /* Couleur gris clair */
    float: right; /* Alignement à droite */
    font-size: 28px; /* Taille de police */
    font-weight: bold; /* Gras */
}

.close:hover,
.close:focus {
    color: black; /* Changer couleur au survol */
    text-decoration: none; /* Pas de soulignement */
    cursor: pointer; /* Pointeur au survol */
}

/* Styles pour les champs de formulaire */
input[type="text"],
input[type="datetime-local"],
textarea {
    width: 100%; /* Pleine largeur */
    padding: 10px; /* Espacement interne */
    margin: 5px 0 15px; /* Marges autour */
    border: 1px solid #ccc; /* Bordure grise */
    border-radius: 4px; /* Coins arrondis */
}

/* Bouton d'enregistrement */
button {
    background-color: #4CAF50; /* Couleur de fond verte */
    color: white; /* Couleur du texte */
    padding: 10px 15px; /* Espacement interne */
    border: none; /* Pas de bordure */
    border-radius: 4px; /* Coins arrondis */
    cursor: pointer; /* Pointeur au survol */
    transition: background-color 0.3s; /* Transition pour changement de couleur */
}

/* Changement de couleur au survol */
button:hover {
    background-color: #45a049; /* Couleur de fond verte plus foncée */
}
