
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px 0;
}

.btn:hover {
    background-color: #45a049;
}
.no-data {
    text-align: center;
    color: #999;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007BFF;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}


.confirm-btn, .cancel-btn {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.confirm-btn {
    background-color: #28a745;
    color: white;
}

.confirm-btn:hover {
    background-color: #218838;
}

.cancel-btn {
    background-color: #dc3545;
    color: white;
}

.cancel-btn:hover {
    background-color: #c82333;
}


.delete-btn {
    background-color: #c82333 !important;
}

.cancel-btn-group-delete {
    display: flex;
    justify-content: space-between;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
input {
    outline: none !important;
    transition: .15s linear !important;
}

input:focus {
    outline: #4CAF50 1px solid !important;
}

.editButton {
    background: #007BFF !important;
}

.deleteButton {
    background-color: #d32f2f !important;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;

}


@media (max-width: 600px) {
    .content {
        padding: 10px;
    }

    table, th, td {
        font-size: 14px;
    }

    .modal-content {
        width: 95%;
    }

    .btn {
        width: 100%;
    }
}
